#![feature(collections)]

/*
 * Create a function called removeVowels() to remove all the vowels 
 * in a given string. Both uppercase and lowercase vowels should be 
 * removed. Your input will be a string and you should return 
 * the string without any vowels.
 */

fn remove_vowels(s: &str) -> String {
    let mut new_str = String::from_str("");

    for c in s.chars() {
      match c {
        'a' | 'e' | 'i' | 'o' | 'u' | 'y'  => println!("{}", c),
        _ => new_str.push(c),
      }
    }
    return new_str;
}

fn main() {
    let my_str = "My house";
    let new_str = remove_vowels(my_str);
    println!("Result: {}", new_str);
}
